.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer a {
  color: var(--text-muted);
}

.footer a:hover {
  color: var(--text-primary);
  text-decoration: underline;
}
