.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cycle {
  display: flex;
  gap: .8rem;
}

.dot {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--primary);
  border-radius: 100%;
}

.work {
  background-color: var(--success);
}

.shortRest {
  background-color: var(--error);
}

.longRest {
  background-color: var(--warning);
}
