.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cycle {
  display: flex;
  gap: 0.8rem;
}

.cycle .dot:last-child {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.dot {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--primary);
  border-radius: 100%;
}

.work {
  background-color: var(--success);
}

.shortBreak {
  background-color: var(--error);
}

.longBreak {
  background-color: var(--warning);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
